.services-bg {
	background: #000;
	color: #fff;
}

.container-fluid h1 {
	margin-bottom: 5%;
	margin-left: 3%;
}

.container-fluid p {
	font-size: 18px;
	margin-left: 3%;
}


.btn-hire {
	height: 7%;
	width: 20%;
	border-radius: 25px;
	margin-left: 5%;
}

.btn-hire:hover {
	height: 7%;
	width: 20%;
	margin-left: 5%;
	color: black;
	background-color: transparent;
	border-radius: 0;
}

.btn-view {
	height: 7%;
	width: 25%;
	border-radius: 25px;
	margin-left: 2%;
	background-color: transparent;
	border: 1px solid #cccccc;
	color: #cccccc;
}

.btn-view:hover {
	height: 7%;
	width: 25%;
	margin-left: 2%;
	border: 1px solid #cccccc;
	border-radius: 0;
	border: 1px solid black;
	color: black;
}

